.container{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.logo{
    width: 246px;
    margin-left: 5%;
}

.logo img{
    width: 206px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul li{
    display: inline;
    list-style: none;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-right: 28px;
    margin-left: 67px; 
}